* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink-light: #c59dd2;
  --pink-base: #9547a5;
  --pink-dark: #7d298a;
  --pink-low: #3f0f41;

  --blue-light: #73b6d2;
  --blue-base: #358bb9;
  --blue-mid: #2374a4;
  --blue-dark: #144a72;
  --blue-low: #08233c;

  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000f1f;
  --shape-background: #00050a;

  --text-title: #f8fbfb;
  --text-body: #e2e7e9;
  --text-label: #bac6c9;

  --font-family: "Raleway", sans-serif;
  --title-lg: 700 1.75rem var(--font-family);
  --subtitle: 500 2rem/2 var(--font-family);
  --title-sm: 700 1.5rem var(--font-family);
  --title-md: 700 2.5rem var(--font-family);
  --body-lg: 400 0.875rem/1.4 var(--font-family);
  --body-xs: 400 0.75rem/1.4 var(--font-family);
}

body {
  font: var(--body-lg);
  color: var(--text-body);
  background-color: var(--shape-background);
}

h1,
h2,
h3 {
  color: var(--text-title);
}

h1 {
  font: var(--title-lg);
}

h2 {
  font: var(--title-sm);
}

h3 {
  font: var(--title-md);
}

img {
  max-width: 100%;
}

.link {
  font: 500 0.875rem var(--font-family);
  text-decoration: none;
  color: var(--blue-light);
}

.desktop-only {
  display: none;
}

@media screen and (width >= 80rem) {
  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }

  :root {
    --title-lg: 700 3rem var(--font-family);
    --title-sm: 700 2rem var(--font-family);
    --body-lg: 400 1.25rem/1.4 var(--font-family);
  }
}
