#mensal-kit {
  padding-block: 3rem;

  & header {
    padding-inline: 1.25rem;
    margin-inline: auto;
    text-align: center;

    & h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.75rem;

      & svg {
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    & span {
      font: 400 0.875rem/1.4 var(--font-family);
      margin-top: 0.5rem;
    }
  }

  & > div {
    margin-top: 4rem;
    position: relative;

    & span {
      font: 400 0.625rem var(--font-family);
    }

    & > img {
      width: 9.875rem;
      height: 13rem;
      display: block;
      margin-inline: auto;
    }

    & > div {
      position: absolute;
    }
  }
}
