#subscriptions {
  background: url(../assets/images/pricing-background.png) top center/cover
    no-repeat;
  padding-block: 5rem;

  & h2 {
    text-align: center;
    margin-bottom: 3rem;
  }

  & .cards {
    display: grid;
    gap: 2rem;

    & .card {
      display: grid;
      align-content: space-between;
      background-color: var(--shape-base);
      padding: 2rem 2rem 1.75rem;
      width: 18rem;
      height: 25rem;
      margin-inline: auto;
      border: 1px solid var(--shape-stroke);
      border-radius: 1.5rem;

      & header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        & h3 {
          font: 700 1rem var(--font-family);
          color: var(--pink-light);
        }

        & span {
          font: 700 0.625rem var(--font-family);
          background-color: var(--shape-stroke);
          padding: 0.5rem 1.25rem;
          border-radius: 999px;
        }
      }

      & .price {
        & p {
          font-weight: 700;
          margin-bottom: 0.5rem;

          & strong {
            font: var(--title-md);
          }
        }

        & span {
          color: var(--text-label);
        }
      }

      & ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        margin-bottom: 1.5rem;

        & li {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font: 400 0.75rem/1.4 var(--font-family);

          & svg {
            width: 1rem;
            height: 1rem;
          }
        }
      }

      & button {
        background-color: var(--pink-dark);
        padding: 0.75rem 1.25rem;
        border: none;
        border-radius: 0.5rem;
        color: var(--text-title);
        font: 700 0.875rem var(--font-family);
        width: 100%;
        cursor: pointer;
      }

      &:nth-child(2) {
        background-color: var(--shape-hover);
      }

      &:nth-child(1),
      &:nth-child(3) {
        & h3 {
          color: var(--blue-light);
        }

        & button {
          background-color: var(--blue-dark);
        }
      }
    }
  }

  @media screen and (width >= 80rem) {
    padding-block: 8rem;

    & h2 {
      margin-bottom: 8rem;
    }

    & .cards {
      display: flex;
      justify-content: center;
      padding-block: 3rem;

      &:hover {
        & .card:nth-child(1) {
          transform: translate(-285px, 10px);
          rotate: -8deg;
        }

        & .card:nth-child(3) {
          transform: translate(285px, 10px);
          rotate: 8deg;
        }
      }

      & .card {
        position: relative;
        height: 26rem;
        transition: transform 0.5s ease, rotate 0.5s ease;

        & > img {
          position: absolute;
          top: -12%;
        }

        & > svg {
          position: absolute;
        }

        &:nth-child(1) {
          position: absolute;

          & > svg:nth-child(1) {
            top: -35px;
            left: -40px;
          }

          & > svg:nth-child(2) {
            top: 0px;
            left: -50px;
          }
        }

        &:nth-child(2) {
          z-index: 2;
          background-color: var(--shape-base);
        }

        &:nth-child(3) {
          position: absolute;

          & > svg:nth-child(1) {
            bottom: -20px;
            right: -35px;
          }

          & > svg:nth-child(2) {
            bottom: -30px;
            right: 0px;
          }
        }

        &:hover {
          transform: translateY(-5px);
          background-color: var(--shape-hover);
          box-shadow: 0px 0px 66px rgba(53, 139, 185, 0.1);

          &:nth-child(1) {
            transform: translate(-285px, -5px);
            z-index: 3;
          }

          &:nth-child(3) {
            transform: translate(285px, -5px);
            z-index: 3;
          }
        }
      }
    }
  }
}
